Options -Indexes
#Options All -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule (.*)$ index.php?views=$1

RewriteRule (.*)\.php/(.*)$ 404 [L]

#ErrorDocument 404 http://localhost/punaj-Nahuel/404

# URL amigables y seguras, filtra aquellos directorios que 
# no queremos que sean visibles para los usuarios para
# así no mostrar las carpetas y archivos que existen dentro.