Options All -Indexes
Options +FollowSymLinks

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)/(.*)$ http://localhost/puaj [L]

RewriteRule ^([a-zA-Z0-9/]+)$ index.php?views=$1

ErrorDocument 404 http://localhost/puaj/

# URL amigables y seguras, filtra aquellos directorios que 
# no queremos que sean visibles para los usuarios para
# así no mostrar las carpetas y archivos que existen dentro.
# Además se mantiene en la misma página en caso de buscar
# un directorio erróneo.

# En la carpeta core->configGeneral.php deberá encontrarse la ruta
# principal del proyecto para luego colocarlo en los archivos css, js, img, etc
# ya que el filtro impide utilizar la abreviatura "./"


# Cambien lo que sea necesario, subo esto para tener algo hecho.
