input[type=text] {
  width: 130px;
    height: 95px;
   
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color:rgba(255,255,255,0.4);
    background-image: url(buscaicono.png);
    background-position: 10px 17px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width height 0.4s ease-in-out;
    transition: width height 0.4s ease-in-out;
  

}

input[type=text]:focus {
  font-size: 30px;
  outline:9px solid  #4444c3ff;
  width: 100%;
  padding: .5em 5em;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:(255,255,255,0.7);
  font-size: 30px;
  text-shadow: 2px 2px 5px rgb(9, 67, 255);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:(255,255,255,0.7);;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:(255,255,255,0.7);;
}