.encabezado{
  background-color: #0075A2;
  background-image: linear-gradient(#0075A2,lightgrey); /* Standard syntax (must be last) */
	border:1px;
	height: 150px;
	max-height: 100%;
	color: white;
	display: flex;


}
#grad1 {
  height: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(red, yellow); /* Standard syntax (must be last) */
}
.wrapper{
	background-color: lightgrey;
}
.btn-circle.btn-lg {
    width: 290px;
    height: 120px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 65px;
  }
	.btn-circle.btn-xl {
    width: 170px;
    height: 170px;
    padding: 10px 16px;
    border-radius: 85px;
    font-size: 44px;
    line-height: 1.33;
}
 
  .pie{
  height: 110px;
  background-color: #0075A2;	
  background-image: linear-gradient(lightgrey,#0075A2);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}