html, body {
    margin: 0;
    min-height: 100vh;
	  background-image: url("../img/fondo.jpg");
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
    background-attachment: fixed;
    color: rgb(194, 194, 194);
    font-family: 'Monserrat', sans-serif;
    font-weight: 200;
    height: 100vh;
}

.fondo-cabecera-pie{
    background-color: #1d99d5;
}

.fondo-contenido{
    background-color: rgba(256, 256, 256, .8);
}

/* ---- Estilos: pie de pagina---- */

.nav-item a{
  color: #fff;
  text-decoration: none;
}

.nav-item a p{
  font-family: 'Nunito', sans-serif;
  color: #fff;
  margin-bottom: 0px;
  padding-left: 10px;
}

.pie-pie{
  border-top: 1px solid #fff;
  color: #fff;
}

.juna{
  font-family: 'Acme', sans-serif;
  font-size: 40px;
  color: #fff;
  padding-top: 10px;
}


/* ---- Estilos: Cabecera ---- */

.nav-item{
    border-right: 1px solid #fff;
}

.nav-item:last-child {
    border-right:none;
}


/* ---- Estilos: Inicio y paginas ---- */

.letra-titulo{
    font-family: 'Nunito', sans-serif;
    font-size: 60px;
    text-shadow: 1px 1px 2px #585757;
    color: #4c4d4d;
    opacity: 0;
    animation: entradaTitulo 1s ease .5s forwards;
}

.letra-subtitulo{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    color: #757879;
    opacity: 0;
    animation: entradaSubtitulo 1s ease .5s forwards;
}

.botones-inicio{
	  width: 100%;
    height: 120px;
    margin: 20px 0px 20px 0px;
    font-size: 30px;
    line-height: 1.33;
    border-radius: 20px;
    line-height: 110px;
    opacity: 0;
    animation: entradaBotones 1s ease 1s forwards;
}



/* ---- Animaciones ---- */

@keyframes entradaTitulo{
    from{
        transform: translateY(-25px);
        opacity: 0;
    }
    to{
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo{
    from{
        transform: translateY(25px);
        opacity: 0;
    }
    to{
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes entradaBotones{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}



/* ---- BOTONES ---- */

.btn-mapas { 
    color: #ffffff; 
    background-color: #DB803B; 
    border-color: #FA862D; 
  } 
   
  .btn-mapas:hover, 
  .btn-mapas:focus, 
  .btn-mapas:active, 
  .btn-mapas.active, 
  .open .dropdown-toggle.btn-mapas { 
    color: #ffffff; 
    background-color: #B54E00; 
    border-color: #FA862D; 
  } 
   
  .btn-mapas:active, 
  .btn-mapas.active, 
  .open .dropdown-toggle.btn-mapas { 
    background-image: none; 
  } 
   
  .btn-mapas .badge { 
    color: #DB803B; 
    background-color: #ffffff; 
  }

  .btn-libros { 
    color: #ffffff; 
    background-color: #9EDB3B; 
    border-color: #9EDB3B; 
  } 
   
  .btn-libros:hover, 
  .btn-libros:focus, 
  .btn-libros:active, 
  .btn-libros.active, 
  .open .dropdown-toggle.btn-libros { 
    color: #ffffff; 
    background-color: #68A800; 
    border-color: #9EDB3B; 
  } 
   
  .btn-libros:active, 
  .btn-libros.active, 
  .open .dropdown-toggle.btn-libros { 
    background-image: none; 
  } 
   
  .btn-libros .badge { 
    color: #9EDB3B; 
    background-color: #ffffff; 
  }



  .btn-aulas { 
    color: #ffffff; 
    background-color: #3B76DB; 
    border-color: #3B76DB; 
  } 
   
  .btn-aulas:hover, 
  .btn-aulas:focus, 
  .btn-aulas:active, 
  .btn-aulas.active, 
  .open .dropdown-toggle.btn-aulas { 
    color: #ffffff; 
    background-color: #0753D6; 
    border-color: #3B76DB; 
  } 
   
  .btn-aulas:active, 
  .btn-aulas.active, 
  .open .dropdown-toggle.btn-aulas { 
    background-image: none; 
  } 
   
  .btn-aulas .badge { 
    color: #3B76DB; 
    background-color: #ffffff; 
  }


  .btn-oficinas { 
    color: #ffffff; 
    background-color: #3BD6DB; 
    border-color: #3BD6DB; 
  } 
   
  .btn-oficinas:hover, 
  .btn-oficinas:focus, 
  .btn-oficinas:active, 
  .btn-oficinas.active, 
  .open .dropdown-toggle.btn-oficinas { 
    color: #ffffff; 
    background-color: #00C0C7; 
    border-color: #3BD6DB; 
  } 
   
  .btn-oficinas:active, 
  .btn-oficinas.active, 
  .open .dropdown-toggle.btn-oficinas { 
    background-image: none; 
  }
   
  .btn-oficinas .badge { 
    color: #3BD6DB; 
    background-color: #ffffff; 
  }