html{
  min-height: 100%;
  position: relative;
}

body {
    margin: 0;
    margin-bottom: 100px;
	  background-image: url("../img/fondo.jpg");
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
    background-attachment: fixed;
    color: rgb(194, 194, 194);
    font-family: 'Monserrat', sans-serif;
    font-weight: 200;
}

.fondo-contenido{
    background-color: rgba(256, 256, 256, .8);
    padding-bottom: 100px;
    height: 80vh;
}

.boton-volver{
  height: 50px;
  font-size: 18px;
  border-radius: 5px;
  line-height: 35px;
  opacity: 0;
  animation: entradaBotones 1s ease 1s forwards;
}

/* ---- Estilos: pie de pagina---- */

.fondo-pie{
  background-color: #353535;
  bottom: 0px;
  width: 100%;
  position: absolute;
}


.nav-item a{
  color: #fff;
  text-decoration: none;
}

.nav-item a p{
  font-family: 'Nunito', sans-serif;
  color: #fff;
  margin-bottom: 0px;
  padding-left: 10px;
}

.pie-pie{
  border-top: 1px solid #fff;
  color: #1d99d5;
}

.juna{
  font-family: 'Acme', sans-serif;
  font-size: 40px;
  color: #fff;
  padding: 15px 8px 0px 8px;
}


/* ---- Estilos: Cabecera ---- */

.fondo-cabecera{
  background-color: #1d99d5;
}

.nav-item{
    border-right: 1px solid #fff;
}

.nav-item:last-child {
    border-right:none;
}

.nav-item .nav-link img{
    width: 164px;
    height: 57px;
    padding-left: 0px;
}


/* ---- Estilos: Inicio y paginas ---- */

.letra-titulo{
    font-family: 'Nunito', sans-serif;
    font-size: 60px;
    text-shadow: 1px 1px 2px #585757;
    color: #4c4d4d;
    opacity: 0;
    padding-top: 50px;
    animation: entradaTitulo 1s ease .5s forwards;
}

.letra-subtitulo{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    color: #757879;
    padding-bottom: 30px;
    opacity: 0;
    animation: entradaSubtitulo 1s ease .5s forwards;
}

.botones-inicio{
	  width: 100%;
    height: 120px;
    margin: 20px 0px 20px 0px;
    font-size: 25px;
    border-radius: 20px;
    line-height: 110px;
    opacity: 0;
    animation: entradaBotones 1s ease 1s forwards;
}


/* ---- Animaciones ---- */

@keyframes entradaTitulo{
    from{
        transform: translateY(-25px);
        opacity: 0;
    }
    to{
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo{
    from{
        transform: translateY(25px);
        opacity: 0;
    }
    to{
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes entradaBotones{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}



/* ---- BOTONES ---- */

.btn-mapas { 
  color: #ffffff; 
  background-color: #C94545; 
  border-color: #C94545; 
} 
 
.btn-mapas:hover, 
.btn-mapas:focus, 
.btn-mapas:active, 
.btn-mapas.active, 
.open .dropdown-toggle.btn-mapas { 
  color: #ffffff; 
  background-color: #AD1111; 
  border-color: #C94545; 
} 
 
.btn-mapas:active, 
.btn-mapas.active, 
.open .dropdown-toggle.btn-mapas { 
  background-image: none; 
} 
 
.btn-mapas .badge { 
  color: #C94545; 
  background-color: #ffffff; 
}

  .btn-libros { 
    color: #ffffff; 
    background-color: #9EDB3B; 
    border-color: #9EDB3B; 
  } 
   
  .btn-libros:hover, 
  .btn-libros:focus, 
  .btn-libros:active, 
  .btn-libros.active, 
  .open .dropdown-toggle.btn-libros { 
    color: #ffffff; 
    background-color: #68A800; 
    border-color: #9EDB3B; 
  } 
   
  .btn-libros:active, 
  .btn-libros.active, 
  .open .dropdown-toggle.btn-libros { 
    background-image: none; 
  } 
   
  .btn-libros .badge { 
    color: #9EDB3B; 
    background-color: #ffffff; 
  }


  .btn-aulas { 
    color: #ffffff; 
    background-color: #3B76DB; 
    border-color: #3B76DB; 
  } 
   
  .btn-aulas:hover, 
  .btn-aulas:focus, 
  .btn-aulas:active, 
  .btn-aulas.active, 
  .open .dropdown-toggle.btn-aulas { 
    color: #ffffff; 
    background-color: #0753D6; 
    border-color: #3B76DB; 
  } 
   
  .btn-aulas:active, 
  .btn-aulas.active, 
  .open .dropdown-toggle.btn-aulas { 
    background-image: none; 
  } 
   
  .btn-aulas .badge { 
    color: #3B76DB; 
    background-color: #ffffff; 
  }


  .btn-oficinas { 
    color: #ffffff; 
    background-color: #3BD6DB; 
    border-color: #3BD6DB; 
  } 
   
  .btn-oficinas:hover, 
  .btn-oficinas:focus, 
  .btn-oficinas:active, 
  .btn-oficinas.active, 
  .open .dropdown-toggle.btn-oficinas { 
    color: #ffffff; 
    background-color: #00C0C7; 
    border-color: #3BD6DB; 
  } 
   
  .btn-oficinas:active, 
  .btn-oficinas.active, 
  .open .dropdown-toggle.btn-oficinas { 
    background-image: none; 
  }
   
  .btn-oficinas .badge { 
    color: #3BD6DB; 
    background-color: #ffffff; 
  }


/* ---- BOTONES de institutos con sus colores correspondientes ---- */

  .btn-ingenieria { 
    color: #ffffff; 
    background-color: #A63321; 
    border-color: #A63321; 
  } 
   
  .btn-ingenieria { 
    color: #ffffff; 
    background-color: #A63321; 
    border-color: #A63321; 
  } 
   
  .btn-ingenieria:hover, 
  .btn-ingenieria:focus, 
  .btn-ingenieria:active, 
  .btn-ingenieria.active, 
  .open .dropdown-toggle.btn-ingenieria { 
    color: #ffffff; 
    background-color: #851200; 
    border-color: #A63321; 
  } 
   
  .btn-ingenieria:active, 
  .btn-ingenieria.active, 
  .open .dropdown-toggle.btn-ingenieria { 
    background-image: none; 
  } 
   
  .btn-ingenieria .badge { 
    color: #A63321; 
    background-color: #ffffff; 
  }

  .btn-salud { 
    color: #ffffff; 
    background-color: #8AB03F; 
    border-color: #8AB03F; 
  } 
   
  .btn-salud:hover, 
  .btn-salud:focus, 
  .btn-salud:active, 
  .btn-salud.active, 
  .open .dropdown-toggle.btn-salud { 
    color: #ffffff; 
    background-color: #5D8C00; 
    border-color: #8AB03F; 
  } 
   
  .btn-salud:active, 
  .btn-salud.active, 
  .open .dropdown-toggle.btn-salud { 
    background-image: none; 
  } 

  .btn-salud .badge { 
    color: #8AB03F; 
    background-color: #ffffff; 
  }

  .btn-iniciales { 
    color: #ffffff; 
    background-color: #F39231; 
    border-color: #F39231; 
  } 
   
  .btn-iniciales:hover, 
  .btn-iniciales:focus, 
  .btn-iniciales:active, 
  .btn-iniciales.active, 
  .open .dropdown-toggle.btn-iniciales { 
    color: #ffffff; 
    background-color: #D46A00; 
    border-color: #F39231; 
  } 
   
  .btn-iniciales:active, 
  .btn-iniciales.active, 
  .open .dropdown-toggle.btn-iniciales { 
    background-image: none; 
  } 
   
  .btn-iniciales .badge { 
    color: #F39231; 
    background-color: #ffffff; 
  }

  .btn-sociales { 
    color: #ffffff; 
    background-color: #283B8A; 
    border-color: #283B8A; 
  } 
   
  .btn-sociales:hover, 
  .btn-sociales:focus, 
  .btn-sociales:active, 
  .btn-sociales.active, 
  .open .dropdown-toggle.btn-sociales { 
    color: #ffffff; 
    background-color: #021563; 
    border-color: #283B8A; 
  } 
   
  .btn-sociales:active, 
  .btn-sociales.active, 
  .open .dropdown-toggle.btn-sociales { 
    background-image: none; 
  } 
   
   
  .btn-sociales .badge { 
    color: #283B8A; 
    background-color: #ffffff; 
  }



/* ---- MEDIA QUERIES - RESPONSIVE -- CELULARES y TABLET---- */

@media screen and (max-width: 460px){

  .mr-auto{
    margin-right: initial!important;
  }

  .navbar-collapse{
    justify-content: center;
  }

  .navbar-collapse .btn{
		display:none;
  }
  
  .nav-item{
    border-right: 0px;
  }

  .nav-item a p{
    display:none;
  }

  .botones-inicio{
    height: 100px;
    line-height: 90px;
    font-size: 20px;
  }
}


/* ---- MEDIA QUERIES - RESPONSIVE -- FULL HD 1920X1080 y superiores---- */

@media screen and (min-width: 1500px){


  .botones-inicio{
    height: 150px;
    margin: 20px 0px 20px 0px;
    font-size: 30px;
    border-radius: 20px;
    line-height: 130px;
  }

  .letra-titulo{
    font-family: 'Nunito', sans-serif;
    font-size: 80px;
    text-shadow: 1px 1px 2px #585757;
  }

  .letra-subtitulo{
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    color: #757879;
    padding-bottom: 50px;
  }

}

/* ---- MEDIA QUERIES - RESPONSIVE -- solución a pantallas cuadradas---- */

@media screen and (max-width: 767px){

  .fondo-contenido{
    height: 100%;
  }
}



